.myCener-box{
    width: 100%;
    height: 100%;
    background-color: #f3f3f8;
}
.center-head{
    width: 100%;
    height: 2rem;
    background: #4abdff;
    text-align: center;
    line-height: 2rem;
    position: relative;
    color: white;
    font-size: 0.75rem;
}
.center-head .center-back{
    width: 2rem;
    height: 2rem;
    float: left;
    position: absolute;
    left: 0.2rem;
    line-height: 2.5rem;
}
.center-head .center-back img{
    width: 1.2rem;
}
