.single-box{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.title-box{
    width: 100%;
    padding: 1rem 0.5rem 2rem 0.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.title-box span{
    font-size: 0.8rem;
    display: block;
    line-height: 1.2rem;
}
.title-type{
    width: 3rem;
    height: 0.8rem;
    font-size: 0.6rem !important;
    border: 1px solid #3daff0;
    color: #3daff0;
    border-radius: 5px;
    text-align: center;
    line-height: 0.8rem !important;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}
.title-text{
    width: 12rem;
}
.title-text i{
    font-style: normal;
    font-size: 0.7rem;
    color: #3baced;
    margin-left: 0.5rem;
}
.title-content{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.5rem;
}
.title -content ul{

}
.title-content ul li{
    display: flex;
    justify-content: flex-start;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    min-height: 1.8rem;
}
.title-content ul li span{

}
.title-content ul li span.icon{
    width: 3rem;
    text-align: center;
}
.title-content ul li span.icon img{
    width: 1.2rem;
}
.title-content ul li span.single-text{
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 12rem;
}